version: '3.8'

services:
  workout-app-backend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: workout-app-backend
    ports:
      - "5000:5000"
    restart: always
    networks:
      - app_network
networks:
  app_network:
    driver: bridge